* {
    margin: 0;
    padding: 0;
}
.main {
}
.content-contener {
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    justify-content: space-around;
    background: #FAFCFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 70px #00000014;
    border-radius: 77px;
    opacity: 1;
    width: 95%;
}
.cont-img {
    width: 270px;
    height: 200px;
}
.cont-title {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0px;
    color: #00161E;
    opacity: 1;
    margin: 30px;
    flex-direction: column;
}
.cont-title h1 {
    font: normal normal normal 30px/48px DIN Next LT W23;
}
.cont-but {
    background: #00ADBB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 15px;
    opacity: 1;
    height: 20%;
    width: 50%;
    color: #FAFCFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-but-text {
    text-align: center;
    font: normal normal normal 16px/28px DIN Next LT W23;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.lvls{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 650px;
}
.lvl-chiled {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent url('../imgs/Path7.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    margin-left: 50px;
}
.lvl-title{
    text-align: left;
    font: normal normal normal 20px/48px DIN Next LT W23;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.lvl-img{
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #00000029 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #00000029;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px ;
}
.lvls-head-img{
    margin-top: 20px;
}
.lvls-head-img img{
    width: 170px;
}
.lvl-img img{
    width: 180px;
}
.lvl-sub-title{
    text-align: left;
    font: normal normal normal 18px/32px DIN Next LT W23;
    letter-spacing: 0px;
    color: #8E9395;
    opacity: 1;
}
.lvl-ez{
    text-align: center;
    font: normal normal normal 50px/78px DIN Next LT W23;
    letter-spacing: 0px;
    color: #97BF7E;
    opacity: 1;
}
.lvl-mid{
    text-align: center;
    font: normal normal normal 50px/78px DIN Next LT W23;
    letter-spacing: 0px;
    color: #E4E06C;
    opacity: 1;
}
.lvl-hard{
    text-align: center;
    font: normal normal normal 50px/78px DIN Next LT W23;
    letter-spacing: 0px;
    color: #D24F55;;
    opacity: 1;
}
.lvl-difculty{
    display: flex;
    justify-content: space-around;
}
.footer {
    display: flex;
    background: #00ADBB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    align-items: center;
    flex-direction: column;
}
.footer-img {
    width: 100px;
    margin: 15px;
}
.footer-inf {
    display: flex;
}
.footer-inf p {
    text-align: right;
    font: normal normal normal 12px/19px DIN Next LT W23;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 10px;
}
.footer-policy {
    text-align: right;
    font: normal normal normal 10px/15px DIN Next LT W23;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 10px;
}