html {
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: fit-content;
  font-family: "Cairo", sans-serif;
  text-align: center;
}

.nav-bar {
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background: white;
  -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.3);
  z-index: 5;
  min-height: 4rem;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin: 10px;
  width: 180px;
  height: 41px;
  cursor: pointer;
}

.drawer {
  display: none;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.header-btn {
  border-radius: 5px;
  border-style: solid;
  border-color: #00adbb;
  color: #00adbb;
  background: white;
  font-family: "Cairo", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

.header-btn-container {
  display: block;
}

.accent-color {
  background: #00adbb;
  color: white;
}

.header {
  min-height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.diamond {
  background: #fff;
  height: 30rem;
  width: 30rem;
  text-align: center;
  transform: rotate(52deg);
  border-radius: 50px;
  box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.3);
  margin-left: 40px;
  margin-right: 40px;
}

.diamond-mobile {
  display: none;
}

.dark-color {
  background: #121212;
  color: white;
}

.header-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

.banner-img {
  transform: rotate(-58deg);
  width: 300px;
  height: 300px;
  position: relative;
  right: 160px;
  top: 100px;
}

.banner-content {
  transform: rotate(-52deg);
  position: relative;
  width: 300px;
  left: 200px;
  bottom: 250px;
}

.banner-text {
  border-right: 5px solid #00adbb;
  text-align: right;
  padding-right: 5px;
}

.bold {
  font-weight: bold;
}

.banner-pr {
  padding-bottom: 100px;
}

.features {
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  background: #f8f8f8;
}

.features-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 25rem;
  background: white;
  border-radius: 20px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.features-img {
  margin-top: -40px;
  width: 92px;
  height: 92px;
}

.features-content {
  margin: 15px;
  margin-top: 0px;
  text-align: center;
}

.tracks {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

.tracks-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 30px;
  width: 25rem;
  height: 22rem;
  border-radius: 70px;
  box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.3);
  background: white;
}

.track-green {
  background-image: url(images/green.svg);
}

.track-blue {
  background-image: url(images/blue.svg);
}

.track-orange {
  background-image: url(images/orange.svg);
}

.track-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20rem;
  height: 17rem;
}

.track-img-left {
  margin-top: -270px;
  margin-right: -90px;
  width: 64px;
  height: 64px;
  z-index: 1;
}

.track-img-right {
  margin-top: -250px;
  margin-left: -75px;
  width: 64px;
  height: 64px;
}

.track-text {
  direction: rtl;
  font-weight: bold;
  color: white;
  margin: 20px;
  text-align: justify;
}

.track-top {
  z-index: 1000;
  margin-top: -10px;
  height: 25rem;
}

.track-hidden-r {
  margin-right: -170px;
}

.track-hidden-l {
  margin-left: -170px;
}

.gray {
  color: #8e9395;
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}

.challenges {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  padding-bottom: 50px;
}

.challenges-bg {
  background-image: url(images/poly.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  min-height: 700px;
}

.challenges-logo {
  width: 221px;
  height: 168px;
  margin-top: 30px;
  cursor: pointer;
}

.white {
  color: white;
  margin-top: -10px;
}

.grey {
  color: #8e9395;
  margin-top: -20px;
}

.challenges-langs-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.challenges-langs {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.challenges-difficulty {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.difficulty-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  background: #353535;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.difficulty-img {
  width: 9rem;
  height: 9rem;
}

.diff-green {
  color: #97bf7e;
  font-weight: bold;
  margin-top: -20px;
}

.diff-yellow {
  color: #e4e06c;
  font-weight: bold;
  margin-top: -20px;
}

.diff-red {
  color: #d24f55;
  font-weight: bold;
  margin-top: -20px;
}

.content-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 75px;
}

.content {
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #fafcff;
  border-radius: 40px;
  box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.3);
  min-height: 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.content-link {
  flex: 2;
  text-align: center;
}

.content-img {
  flex: 1;
  width: 256px;
  height: 256px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-container {
  direction: rtl;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: #00adbb;
  min-height: 5rem;
}

.footer-logos {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-logo-img {
  width: 180px;
  height: 41px;
  margin-right: 40px;
  margin-left: 40px;
}

.footer-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-white {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.footer-rights {
  color: white;
  font-size: 12px;
}

@media all and (max-width: 600px) {
  .header-btn-container {
    display: none;
  }
  .drawer {
    display: block;
  }

  .header {
    flex-direction: column-reverse;
    margin-top: 0;
    padding-bottom: 50px;
    color: white;
    background: #121212;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .diamond {
    display: none;
  }
  .diamond-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .challenges {
    background: #121212;
  }

  .challenges-bg {
    background-image: none;
  }

  .challenges-difficulty {
    flex-direction: column;
  }
}
