html {
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: fit-content;
  font-family: "Cairo", sans-serif;
  text-align: center;
}

.nav-bar {
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 2rem;
  background: white;
  -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.3);
  z-index: 5;
  min-height: 4rem;
}

.logo {
  margin: 10px;
  width: 180px;
  height: 41px;
  cursor: pointer;
}

.header-btn {
  border-radius: 5px;
  border-style: solid;
  border-color: #00adbb;
  color: #00adbb;
  background: white;
  font-family: "Cairo", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.accent-color {
  background: #00adbb;
  color: white;
}

.header {
  min-height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.diamond {
  background: #fff;
  height: 30rem;
  width: 30rem;
  text-align: center;
  transform: rotate(52deg);
  border-radius: 50px;
  box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.3);
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}

.dark-color {
  background: #121212;
  color: white;
}

.banner-img {
  transform: rotate(-58deg);
  width: 300px;
  height: 300px;
  position: relative;
  right: 160px;
  top: 100px;
}

.banner-content {
  transform: rotate(-52deg);
  position: relative;
  width: 300px;
  left: 200px;
  bottom: 250px;
}

.banner-text {
  border-right: 5px solid #00adbb;
  text-align: right;
  padding-right: 5px;
}

.bold {
  font-weight: bold;
}

.banner-pr {
  padding-bottom: 100px;
}

.features {
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  background: #f8f8f8;
}

.features-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 25rem;
  background: white;
  border-radius: 20px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.features-img {
  margin-top: -40px;
  width: 92px;
  height: 92px;
}

.features-content {
  margin: 15px;
  margin-top: 0px;
  text-align: center;
}

.tracks {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

.tracks-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 30px;
  width: 25rem;
  height: 22rem;
  border-radius: 70px;
  box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.3);
  background: white;
}

.track-green {
  background-image: url(images/green.svg);
}

.track-blue {
  background-image: url(images/blue.svg);
}

.track-orange {
  background-image: url(images/orange.svg);
}

.track-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20rem;
  height: 17rem;
  z-index: -1;
}

.track-img-left {
  margin-top: -270px;
  margin-right: -90px;
  width: 64px;
  height: 64px;
  z-index: 1;
}

.track-img-right {
  margin-top: -250px;
  margin-left: -75px;
  width: 64px;
  height: 64px;
}

.track-text {
  direction: rtl;
  font-weight: bold;
  color: white;
  margin: 20px;
  text-align: justify;
}

.track-top {
  z-index: 1000;
}

.track-hidden-r {
  margin-right: -150px;
}

.track-hidden-l {
  margin-left: -150px;
}
